.technologySearch {
    // h2 {
    //     margin-bottom: 5px;
    // }
    background: $darkGray;
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 15px;
    input {
        font-size: .9em;
        border: 0;
        color: $darkGray;
        padding: 5px;
        width: 150px;
        margin: 10px;
    }
    [placeholder] {
        font-family: "museo-sans";
        // color: red;
        &::-webkit-input-placeholder {
            color: $gray;
        }
        &:focus::-webkit-input-placeholder {
            color: transparent;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: $gray;  
        }
        &::-moz-placeholder {  /* Firefox 19+ */
            color: $gray;  
        }
        &:-ms-input-placeholder {  
            color: $gray;  
        }
    }
}

.noContentVisible {
    text-align: center;
    padding-top: 50px;
}

.portfolioItem {
    position: relative;
    display: block;
    h3 {
        text-align: center;
    }
    img {
        display: block;
        margin: 0 auto;
        padding: 50px 0px;
        max-width: 100%;
        height: auto;
        max-height: 350px;
    }
    .button {
        margin-top: 1.5em;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

// Styles each div on /copy
.copyItem {
    .button {
        margin-top: 1.5em;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    display: block;
}

.CTA {
    padding-right: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}