<!DOCTYPE html>
<html ng-app='Portfolio' ng-init>
<head>
  <! -- Don't forget to restore Typekit once ready for production -->
  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js'></script>
  <script src="http://code.angularjs.org/1.2.9/angular-animate.min.js"></script>
  <script src='app.js'></script>
  <script src='controllers/resumeController.js'></script>
  <script src='controllers/homeController.js'></script>
  <script src='controllers/404controller.js'></script>
  <script src='controllers/navController.js'></script>
  <script src='models/resumeModel.js'></script>
  <script src='models/homeModel.js'></script>
  <script type="text/javascript" src="//use.typekit.net/fkv6lkh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!-- Acquire jquery -->
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <!-- Acquire cycle.js -->
  <script src="http://daviddavidson.io/cycle.js"></script>
  <!-- Acquire styles -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='http://daviddavidson.io/davidson.css'>
  <link rel='stylesheet' href='styles/new.css'>
  <title>Angular test</title>
</head>
<body ng-controller='navController'>
  <h1>David M. Davidson</h1>
  <h2 id="elevatorPitch">Web developer | copywriter | copyeditor</h2>
  <nav>
    <div class="table">
      <ul ng-cloak class="nav">
        <li ng-show='page != "home"' ng-click='page = "home"' onclick='cycleSoon()'><a href="/#/">Home</a></li>
        <li ng-show='page != "resume"' ng-click='page = "resume"'><a href="#/resume">See my r&eacute;sum&eacute;</a></li>
        <li ng-show='page != "portfolio"' ng-click='page = "portfolio"'><a href="#/portfolio">See my portfolio</a></li>
        <li ng-show='page != "contact"' ng-click='page = "contact"'><a href="#/contact">Get in touch</a></li>
      </ul>
    </div>
  </nav>
  <div ng-cloak ng-view>
  <!-- Inject body here at runtime -->
  </div>
  <nav>
    <div class="table2">
      <ul ng-cloak class="nav2">
        <li ng-show='page == "home"' ng-click='page = "resume"' class="CTA2"><a href="#/resume">See my r&eacute;sum&eacute;</a></li>
        <li ng-show='page == "resume"' ng-click='page = "portfolio"' class="CTA2"><a href="#/portfolio">See my portfolio</a></li>
        <li ng-show='page == "portfolio"' ng-click='page = "contact"' class="CTA2"><a href="#/contact">Get in touch</a></li>
      </ul>
    </div>
  </nav>
</body>
</html>
