<div class="blockWrapper" id="contact">
    <h2>Let&rsquo;s work&nbsp;together:</h2>
    <div class="blockwrapper">
        <a href="mailto:daviddavidson.1988@gmail.com?subject=">
            <button type="button" class="button red wide email">
                daviddavidson.1988@gmail.com
            </button>
        </a>
    </div>
    <ul class="socialIcons">
        <li><a href="https://www.linkedin.com/in/davidsondavid" target="_blank"><img src="images/linkedIn.png"></a></li>
        <li><a href="https://github.com/david-davidson" target="_blank"><img src="images/gitHub.png"></a></li>
    </ul>
    <ul>
        <li>Skype: daviddavidson.1988</li>
        <li><a href="tel:+13602238005" class="mobileNumber">(360) 223-8005</a></li>
    </ul>
</div>