
<div id="contact">
    <h2>Let&rsquo;s work&nbsp;together:</h2>
    <!-- <p><strong>The best way to reach me is via email:</strong></p> -->
    <div class="CTAemail"><a href="mailto:daviddavidson.1988@gmail.com?subject=">daviddavidson.1988@gmail.com</a></div>
    <!-- <p><strong>But these are good options, too:</strong></p> -->
    <ul class="socialIcons">
        <li><a href="https://www.linkedin.com/in/davidsondavid" target="_blank"><img src="images/linkedIn.png"></a></li>
        <li><a href="https://github.com/david-davidson" target="_blank"><img src="images/gitHub.png"></a></li>
    </ul>
    <ul>
        <li><a href="tel:+13602238005" class="mobileNumber">(360) 223-8005</a></li>
        <li>Skype: daviddavidson.1988</li>
    </ul>
    
</div>