<h2 class="blockWrapper">
    Things I&rsquo;ve built
</h2>
<div class="blockWrapper portfolioItem extraPadding" ng-repeat='project in projects' ng-class-even='"rightTiered"' ng-class-odd='"leftTiered"'>
    <h3 ng-bind-html-unsafe='project.title'></h3>
    <a href="{{project.url}}" target="_blank">
        <img ng-show='project.image' ng-src='{{project.image}}'>
    </a>
    <!-- Evenutally bind this to the model -->
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, doloribus, eius, perferendis in dolorum tempore inventore modi aliquid repellat atque perspiciatis expedita soluta eum. Quod, quia, incidunt, fugiat, reprehenderit quidem debitis assumenda modi ratione ut dolore optio eligendi labore voluptate aspernatur non sequi nemo quisquam quae eius consequuntur. Accusantium, officia!
    </p>
    <ul>
        <li ng-repeat='item in project.technologies' ng-bind-html-unsafe='item.bullet'></li>
    </ul>
    <a href="{{project.url}}" target="_blank">
        <button type="button" class="link button">
            Take a look
        </button>
    </a>
</div>
<div class="blockWrapper footer">
    <div class="footerWrapper wide">
        <span class="CTA">
            I&rsquo;d like to work with you,&nbsp;too:
        </span>
        <span class="wide">
            <a href="/#/contact">
                <button type="button" class="button red wide right">
                    Get in touch
                </button>
            </a>
        </span>
    </div>
</div>