<div>
  <h2>What I&rsquo;ve done</h2>
  <div class="blockWrapper" ng-repeat='job in jobs'>
    <h3 ng-bind-html-unsafe='job.title'></h3>
    <span ng-bind-html-unsafe='job.who' class="who"></span>
    <span ng-bind-html-unsafe='job.when' class="when"></span>
    <span ng-bind-html-unsafe='job.where' class="where"></span>
    <div class="bullets">
      <div class="bulletWrapper" ng-repeat='item in job.bullets' ng-class-even='"right"' ng-class-odd='"left"'>
        <ul>
          <li ng-init='hideDetails.$index = true' ng-click='hideDetails.$index = false' ng-class='{link: item.children && hideDetails.$index}' class="bullet" ng-bind-html-unsafe='item.bullet'>
          </li>
          <div ng-hide='!item.children || hideDetails.$index'>
            <ul>
              <li ng-repeat='anotheritem in item.children' ng-bind-html-unsafe='anotheritem.child'></li>
            </ul>
            <p ng-click='hideDetails.$index = true' class="small link">
              Hide
            </p>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>