@media (min-width: 725px) {
    .contentWrapper {
        margin-left: 10%;
        margin-right: 10%;
    }
    .wide {
        width: 15em;
        &.email {
            width: 18em;
        }
    }
    nav {
        // Fixed position on tablet+
        position: fixed;
        z-index: 1000;
        background: white; // Was blue on mobile
        // The top-level list
        ul {
            position: relative; // To enable absolute in the dropdown
            float: right;
            display: inline-block; // Was block on mobile
            // Nav items
            li {
                float: left;
                width: 175px;
                margin-bottom: 0;
                .button {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid white; // Overrides separator from mobile
                    border-left: 1px solid $gray; // Replaces it
                    &.current {
                        border-bottom: 1px solid $gray; // To match background
                        border-left: 1px solid white; // To separate, say, .current and :active li's that are side by side
                    }
                }
                // Hover, but not on buttons w/o links, like /portfolio
                a .button {
                    &:hover, :active, :focus {
                        border-left: 1px solid white;
                        border-bottom: 1px solid $gray;
                        background-color: $gray; // Note that we never set a hover on mobile
                        color: white;
                    }
                }
                // The dropdown
                ul {
                    margin-top: 0; // Overrides 10px from mobile
                    position: absolute; // To keep it from bumping the rest of the page down
                    width: 175px; // = the width of one main nav button
                    li {
                        padding-top: 1px;
                        margin-left: 0; // Overrides mobile's margin-left: 10%
                        width: 100%; //...and corresponding width: 90%
                        .button {
                            border-left: 1px solid white; // Overrides parents
                            &.current {
                                border-left: 1px solid $gray; // Overrides default white border
                            }
                            &:hover, :active, :focus, {
                                border-left: 1px solid $gray;
                            }
                        }
                    }
                }
            }
        }
    }

    // Full-screen hero with centered content
    .heroWrapper {
        height: 100vh; // good back to IE8

        // Handle vertical centering using a flexbox
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;

        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;

        min-height: 100%;
        flex-direction: column;

        h1, h2 {
            padding-top: 80px;
        }
    }

    .halfWrapper {
        h2 {
            padding-top: 100px;
        }
    }
}

@media (min-width: 1025px) {
    .contentWrapper {
        margin-left: 15%;
        margin-right: 15%;
    }

    .hideMobile {
        display: block;
    }

    .extraPadding {
        padding-bottom: 100px
    }

    .footerWrapper {
        float: right;
        text-align: center;
    }

    .footerWrapper span {
        margin: 0 auto;
    }

    h3 {
        text-align: left;
    }

    // Set bullets at ~ half width
    .half {
        width: 45%;
    }

    .left {
        float: left;
        clear: left;
    }

    .right {
        float: right;
        clear: right;
    }

    .portfolioItem {
        width: 45%;
        h3 {
            text-align: left;
        }
        img {
            position: absolute;
            padding: 0px;
            max-width: 350px;
        }
    }

    .leftTiered {
        float: left;
        clear: right;
        img {
            left: 130%;
        }
    }

    .rightTiered {
        float: right;
        clear: left;
        img {
            right: 130%;
        }
    }

    .homePara {
        width: 30%;
        margin-right: 3.3%;
        float: left;
    }

    .homePara p {
        clear: left;
    }

    // Only give testimonial dots a hover effect on desktop
    .navDot {
        font-size: 85px;
        &:hover {
            color: $blue;
            cursor: pointer;
        }
    }

    .navDot.active:hover {
        color: $darkGray;
        cursor: default;
    }
}