.details {
    float: left;
    clear: left;
    text-align: left;
    margin-right: 2%;
    padding-bottom: 1em;
}

.who {
    @extend .details;
    font-weight: bold;
    padding-bottom: .25em;
}

ul {
    &.bullets {
        margin-bottom: 0;
        li {
            padding-bottom: 5px;
        }
    }
}