<div class="halfWrapper">
    <h2 class="blockWrapper">
        What I&rsquo;ve written
    </h2>
</div>
<div class="contentWrapper">
    <div class="narrow">
        <div class="copyItem" data-ng-repeat='project in copy'>
            <!-- Title -->
            <h3 data-ng-bind-html-unsafe='project.title'></h3>
            <!-- Description -->
            <p data-ng-bind-html-unsafe='project.description'></p>
            <!-- (Optional) bullets -->
            <ul data-ng-show='project.bullets'>
                <li data-ng-repeat='item in project.bullets'>
                    <a href="{{item.url}}" target="_blank">
                        <h4 data-ng-bind-html-unsafe='item.title'></h4>
                    </a>
                    <div data-ng-show='item.description' data-ng-bind-html-unsafe='item.description'></div>
                    <a href="{{item.url}}" target="_blank">
                        <button data-ng-show='item.url' type="button" class="link button blue">
                            Read it
                        </button>
                    </a>
                </li>
            </ul>
            <!-- (Optional) button -->
            <a href="{{project.url}}" target="_blank" ng-show='project.url'>
                <button data-ng-show='project.url' type="button" class="link button blue">
                    Take a look
                </button>
            </a>
        </div>
        <div class="blockWrapper paddingTop footer">
            <div class="footerWrapper">
                <span class="CTA">
                    Development portfolio:
                </span>
                <span class="wide">
                    <a href="/portfolio">
                        <button type="button" class="button red wide">
                            See my dev projects
                        </button>
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>