<div class="halfWrapper">
    <h2 class="blockWrapper">
        What I&rsquo;ve built
    </h2>
</div>
<div class="technologySearch">
    <div>
        Hate reading? Filter by language or framework:
    </div>
    <input type="text" placeholder="e.g., AngularJS" data-ng-model='technology' />
</div>
<div class="contentWrapper">
    <div class="narrow">
        <div class="blockWrapper portfolioItem extraPadding" data-ng-repeat='project in filteredProjects' data-ng-class-even='"rightTiered"' data-ng-class-odd='"leftTiered"'>

            <h3 data-ng-bind-html='project.title | toHTML'></h3>

            <a href="{{project.url}}" target="_blank">
                <img data-ng-show='project.image' data-ng-src='{{project.image}}'>
            </a>

            <p data-ng-bind-html='project.description | toHTML'></p>

            <p>Technologies:</p>
            <ul>
                <li data-ng-repeat='item in project.technologies' data-ng-bind-html='item.bullet | toHTML'></li>
            </ul>

            <a href="{{project.url}}" target="_blank">
                <button type="button" class="link button blue">
                    Take a look
                </button>
            </a>
        </div>

        <div data-ng-show='noContentVisible()'>
            <p class="noContentVisible">
                I haven&rsquo;t worked with that one&mdash;yet. :)
            </p>
        </div>

        <div class="blockWrapper paddingTop footer">
            <div class="footerWrapper">
                <span data-ng-hide='noContentVisible()' class="CTA">
                    I&rsquo;d like to build something with you,&nbsp;too.
                </span>
                <span class="wide">
                    <a href="/contact">
                        <button type="button" class="button red wide">
                            Get in touch
                        </button>
                    </a>
                </span>
            </div>
        </div>

    </div>
</div>