#contact {
    text-align: center;
}

#contact li {
    list-style: none;
}

ul.socialIcons {
    display: inline-block;
    -webkit-padding-start: 0;
}

.socialIcons li {
    float: left;
}

.footer {
    text-align: center;
}