// Define colors
$blue: rgb(60, 109, 197);
$darkBlue: rgb(70, 70, 150);
$lightGray: rgb(230, 230, 240);
$inputGray: rgb(120,120,120); // A one-off, for the input on /portfolio
$gray: #AAA;
$darkGray: rgb(70, 70, 70);
$red: rgb(255, 80, 0);
$darkRed: red;

// Global styles
html {
    height: 100%;
}

body {
    @extend html;
    max-width: 100%;
    font-size: 1.4em;
    background-color: $lightGray;
    margin: 0 auto;
    color: $darkGray;
    font-family: sans-serif; // The fallback
}

div {
    padding: 0;
    margin: 0;
}

.view {
    min-height: 100%;
    margin-bottom: -140px;
    &:after {
        content: "";
        display: block;
        height: 140px;
    }
}

// Typekit
.tk-museo-sans {font-family: "Museo Sans", sans-serif}

// Include missing font
.when, .where, .who, .GPA, button, .CTA, .CTAemail {
    font-family: "museo-sans";
}

// Headers
h1, h2, h3 {
    text-align: center;
}

.resume {
    h3 {
        text-align: left;
    }
}

h1, h2 {
    padding-top: 50px;
}

.test {
    color: white;
    margin-top: 0;
    padding: 30px;
    background-color: $gray;
}
h3 {
    padding-top: 40px;
}

// Links
a {
    color: $blue;
    text-decoration: none;
    &:hover {
        color: $darkBlue;
    }
    &:visited {
        color: $blue;
    }
    img {
        border: 0;
    }
}

.link {
    color: $blue;
    cursor: pointer;
}

.link:hover {
    color: $darkBlue;
}

// Img border? LOL no
img {
    border: 0;
}

// Reusable div types
.hideMobile {
    display: none;
}

.padding {
    padding-bottom: 50px;
}

.paddingTop {
    padding-top: 80px;
}

.paddingBottom80 {
    padding-bottom: 80px;
}

.paddingBottom120 {
    padding-bottom: 120px;
}
.narrow {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.center {
    text-align: center;
    margin: 0 auto;
    float: none !important;
}

.contentWrapper {
    margin-left: 5%;
    margin-right: 5%;
}

.blockWrapper {
    display: inline-block;
    width:100%;
    // max-width: 1000px;
}

// Baseline buttons

button {
    border: 0;
    &:active {
        border: 0;
        outline-style: none;
    }
}

.button {
    padding: 1em 2em;
    border: 0px;
    font-size: 1em;
    cursor: pointer;
    &.email {
        padding: 1em 0em;
    }
}

.rightButton {
    float: right;
}

.red {
    background-color: $red;
    color: white;
    &:hover {
        background-color: $darkRed;
        color: white;
    }
}

.blue {
    background-color: $blue;
    color: white;
    &:hover {
        background-color: $darkBlue;
        color: white;
    }
}

.wide {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

// Replace the deprecated <nobr>
.nobr {
    white-space: nowrap;
}

// Hero
.heroWrapper {
    background-color: $blue;
    color: white;
    text-align: center;
    h1 {
        margin-top: 0;
    }
}

.halfWrapper {
    @extend .heroWrapper;
    min-height: 200px;
}

.heroContent {
    display: inline-block;
}

// Style the nav
nav {
    background-color: $blue;
    display: inline-block;
    width: 100%;
    // The nav-level list
    ul {
        display: block;
        padding-left: 0; // Overrides IE, others
        margin: 0;
        // Nav items
        li {
            list-style: none;
            width: 100%;
            margin-bottom: 10px;
            .button {
                background-color: white;
                color: $darkGray;
                width: 100%;
                padding-top: 15px;
                padding-bottom: 15px;
                margin: 0;
                &.current {
                    background-color: $gray;
                    color: white;
                }
            }
            // The dropdown
            ul {
                margin-top: 10px;
                list-style: none;
                display: inherit;
                li {
                    margin-left: 10%;
                    width: 90%;
                    clear:left;
                }
            }
        }
    }
}

.navPlaceholder {
    display: inline; // We only need the placeholder when the nav is fixed; keep it out of the way for now
}

a:focus, button:focus, button a:focus, input:focus {
    outline: none;
}

// No pointer effect on /portfolio, b/c no link
.noLink {
    cursor: default;
}

// Style the tagline
#elevatorPitch {
    margin-bottom: 40px;
    margin-top: -25px;
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 1em;
}


// Style the rule/arrow dividers
hr {
    background-color: $gray;
    height: 1px;
    border: 0;
    margin-top: 5em;
    margin-bottom: 0;
    padding-bottom: 0;
}

.downArrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $gray;
    font-size: 0;
    line-height: 0;
    display: block;
    // left: 50% is a little off, because it doesn't account for the width of the arrow itself. So, for old browsers, approximate with 49%...
    margin-left: 49%;
    // ... and then get it right for the new browsers
    margin-left: calc((100% - 20px) / 2);;
}

.footer {
    padding-bottom: 100px;
    text-align: center;
    margin: 0 auto;
}