.who {
    float: left;
    clear: left;
    text-align: left;
    width: 48%;
    margin-right: 2%;
}

.when {
    float: right;
    clear: right;
    text-align: right;
    width: 48%;
    margin-left: 2%;
}

.where {
    float: right;
    clear: right;
    text-align: right;
    width: 48%;
    margin-left: 2%;
    margin-bottom: .5em;
}

.GPA {
    float: left;
    clear: left;
    text-align: left;
    width: 48%;
    margin-right: 2%;
    text-indent: 1em;
    font-weight: bold;
    font-size: 1.1em;
}

// Div around all the bullets

.half, .half ul {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

// Wrapper around individual bullets
.bulletWrapper {
    ul {
        margin: 0;
        display: inline-block;
    }
}

// Bullet text
.bullet {
    text-align: left;
}