.details {
    float: left;
    clear: left;
    text-align: left;
    margin-right: 2%;
    padding-bottom: 1em;
}

.who {
    @extend .details;
    font-weight: bold;
    padding-bottom: .25em;
}

// Div around all the bullets

.half, .half ul {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    li {
        padding-bottom: 5px;
    }
}

// Wrapper around individual bullets
.bulletWrapper {
    ul {
        margin: 0;
        display: inline-block;
    }
}

// Bullet text
.bullet {
    text-align: left;
}