/**
 * General styles
 */

// Define colors
$blue: rgb(60, 109, 197);
$lightBlue: #3c6dc5;
$darkBlue: rgb(70,70,150);
$lightestGray: #EEE;
$gray: #AAA;
$darkGray: rgb(47, 79, 79);
$red: rgb(255,80,0);
$darkRed: red;

img {
	border: 0;
}

a {
	img {
		border: 0;
	}
}
a {
	color: $lightBlue;
	text-decoration: none;
	&:hover {
		color: $darkBlue;
	}
	&:visited {
		color: $lightBlue;
	}
}

// Bump up font size from prev. version
body {
	font-size: 20px;
	background-color: #EEE;
	max-width: 1000px;
	margin-left: 15%;
	margin-right: 15%;
	margin: 0 auto;
	margin-top: 150px;
	margin-bottom: 150px;
	color: $darkGray;
	font-family: sans-serif;
}

/* Typekit */
.tk-museo-sans {font-family: "Museo Sans", sans-serif}

// Include missing font
.when, .where, .who, .GPA, #elevatorPitch, button, .CTA, .CTAemail {
	font-family: "museo-sans";
}

// Reusable padding styles
.padding {
	padding-bottom: 40px;
}

.extraPadding {
	padding-bottom: 85px
}

.paddingTop {
	padding-top: 100px;
}

.center {
	text-align: center;
	margin: 0 auto;
	float: none !important;
}

h1, h2, h3 {
	text-align: center;
}
.resume {
	h3 {
		text-align: left;
	}
}

h1, h2 {
	padding-top: 50px;
}

h3 {
	padding-top: 40px;
}
// Default links
.link {
	color: $blue;
	cursor: pointer;
}

.link:hover {
	color: $darkBlue;
}

// Treat divs as full-width boxes
.blockWrapper {
	display: inline-block;
	width:100%;
}

// Replace the deprecated <nobr>
.nobr {
	white-space: nowrap;
}

.button {
	background-color: $blue;
	color: white;
	padding: 10px 20px;
	border: 0px;
	font-size: 1em;
	cursor: pointer;
	&:hover {
		background-color: $darkBlue;
		color: white
	}
}

.rightButton {
	float: right;
}

.red {
	background-color: $red;
	&:hover {
		background-color: $darkRed;
		color: white;
	}
}

button {
	border: 0;
}

button:active {
	border: 0;
	outline-style: none;
}

.none {
	display: none;
}
/**
 * Homepage styles
 */

// Style the nav
nav {
	li {
		list-style: none;
		border-right: 1px solid $lightestGray;
	}

	button {
		width: 100%;
		max-width: 22em;
	}

	ul {
		-webkit-padding-start: 0px;
		margin: 0 auto;
		text-align: center;
	}
}

// Style the current page's tab
.current {
	background-color: $darkBlue;
	cursor: default;
}

a:focus, button:focus, button a:focus, input:focus {
	outline: none;
}

// Style the tagline
#elevatorPitch {
	margin-bottom: 40px;
	margin-top: -25px;
	text-align: center;
	display: inline-block;
	width: 100%;
	font-size: 1.2em;
	font-weight: bold;
	ul {
		text-align: center;
		margin: 0 auto;
		display: inline-block;
		list-style-position: outside;
		-webkit-margin-before: 0em;
		-webkit-padding-start: 0px;
		padding-top: 2em;
	}
	li {
		list-style: none;
	}
}

// Hide pipes in tagline for mobile view (when stacked vertically)
.hideMobile {
	display: none;
}

// Style the rule/arrow dividers
hr {
	background-color: $gray;
	height: 1px;
	border: 0;
	margin-top: 80px;
 	margin-bottom: 0;
 	padding-bottom: 0;
}

.downArrow {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid $gray;
	font-size: 0;
	line-height: 0;
	display: inline-block;
	position: absolute;
	// left: 50% is a little off, because it doesn't account for the width of the arrow itself. So, for old browsers, approximate with 49%...
	left: 49%;
	// ... and then get it right for the new browsers
	left: calc((100% - 20px) / 2);;
}

/**
 * Styles for testimonial directive
 */

// Make the whole thing relative, to allow for absolute positioning of inner elements
.slideshow {
	position: relative;
	max-width: 100%;
}

// Absolute position the testimonials on top of an invisible placeholder paragraph, to keep the screen from jerking up and down as testimonials cycle in
.placeholder {
	visibility: hidden;
	height: auto !important;
}

.slideshow {
	p {
		position: absolute;
		&.placeholder {
			position: relative;
		}
	}
}

// Style the nav dots
.navDot {
	font-size: 75px;
	padding: 0px;
	color: $gray;
}

// Center the nav dots
.dotWrapper {
	margin: 0 auto;
	text-align: center;
}

// Make active dot darker
.active {
	color: rgb(47, 79, 79);
}

// Keep the text aligned left
.testimonial {
	p {
		text-align: left;
	}
}

.leftQuote {
	font-family: helvetica;
	font-size: 7em;
	color: $gray;
	position: absolute;
	left: -.55em;
}

/* Styles the right quotation mark */
.rightQuote {
	font-family: helvetica;
	font-size: 7em;
	color: $gray;
	position: absolute;
	right: -.45em;
}

.wide {
	min-width: 14em;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
}

/**
 * Resume styles
 */

.who {
	float: left;
	clear: left;
	text-align: left;
	width: 48%;
	margin-right: 2%;
}

.when {
	float: right;
	clear: right;
	text-align: right;
	width: 48%;
	margin-left: 2%;
}

.where {
	float: right;
	clear: right;
	text-align: right;
	width: 48%;
	margin-left: 2%;
	margin-bottom: .5em;
}

.GPA {
	float: left;
	clear: left;
	text-align: left;
	width: 48%;
	margin-right: 2%;
	text-indent: 1em;
}

// Div around all the bullets

.half, .half ul {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	display: inline-block;
}

// Wrapper around individual bullets
.bulletWrapper {
	ul {
		margin: 0;
		display: inline-block;
	}
}

// Bullet text
.bullet {
	text-align: left;
}

.GPA {
	font-weight: bold;
	font-size: 1.1em;
}

/**
 * Portfolio styles
 */

.portfolioItem {
	position: relative;
	h3 {
		text-align: center;
	}
	img {
		display: block;
		margin: 0 auto;
		padding: 50px;
		max-height: 300px;
		max-width: 300px;
	}
}

.CTA {
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
	display: inline-block;
	padding-top: 28px; // Total hack to achieve table-ish look
}

.footerWrapper span {
	margin-right: 20px;
	margin-bottom: 20px;
}

/*
 * Contact styles
 */
#contact {
	text-align: center;
}

#contact li {
	list-style: none;
}

ul.socialIcons {
	display: inline-block;
	-webkit-padding-start: 0;
}

.socialIcons li {
	float: left;
}
.footer {
	text-align: center;
}

/**
 * Media queries
 */

 @media (min-width: 700px) {
 	.wide {
 		width: initial;
 	}
}

@media (min-width: 800px) {
	// Elevator pitch is a vertical list for mobile; make it horizontal for full width
	#elevatorPitch {
		li {
			float: left;
		}
	}

	// Reveal the pipes between words
	.hideMobile {
		display: inline;
	}

	// Lowercase in middle of list
	.lowercase {
		text-transform: lowercase;
	}
}

@media (min-width: 1025px) {
	h3 {
		text-align: left;
	}
	// Set bullets at ~ half width
	.half {
		width: 45%;
	}

	.left {
		float: left;
		clear: left;
	}

	.right {
		float: right;
		clear: right;
	}

	.portfolioItem {
		width: 45%;
	}

	.portfolioItem {
		h3 {
			text-align: left;
		}
		img {
			position: absolute;
			padding: 0px;
		}
	}

	.leftTiered {
		float: left;
		clear: right;
		img {
			left: 130%;
		}
	}

	.rightTiered {
		float: right;
		clear: left;
		img {
			right: 130%;
		}
	}

	.homePara {
		width: 30%;
		margin-right: 3.3%;
		float: left;
	}

	.homePara p {
		clear: left;
	}

	// Only give testimonial dots a hover effect on desktop
	.navDot:hover {
		color: $blue;
		cursor: pointer;
	}

	.navDot.active:hover {
		color: $darkGray;
		cursor: default;
	}

 	.footer span {
		float: left;
	}

	.footerWrapper {
		float: right;
	}

	// Float the nav buttons
	nav li {
		float: left;
		width: 249px; // Using px, not percentage, because we know the exact width and there's that 1px border to account for
	}
}